.App {
  text-align: center;
  width:100%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTiJ0XTsN3A6l8P6ejhQi7O67zVeRbpNFhqA&usqp=CAU);
  background-size: cover;
  background-position: fixed;
}


