.App {
  text-align: center;
  width:100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzqSSavb6OmBXfN1o1Tmf826fD6S3UnnL-yw&usqp=CAU");
  background-size: cover;
}


